language: c
install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq expect
  - git clone https://github.com/sstephenson/bats.git
script: bats/bin/bats --tap test/suites
notifications:
  email:
    on_success: never
